<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
            <title>PicUp for your favourite pictures</title>
            <link type="text/css" rel="stylesheet" href="style.css">

                </head>
                <body style="-moz-user-select: text;">
                    <div id="topbar">
                        <div id="TopSection">
                            <h1 id="sitename">
                                <a href="index.html" class="auto-style1">PicUp</a>
                                <span>
                                    <a href="index.html" class="auto-style1"> your Frame</a>
                                </span>
                            </h1>
                            <div id="topbarnav">
                                <span class="topnavitems">
                                    <a href="register.html">Register</a>
                                    |
                                    <a href="login.html">Login </a>
                                </span>
                                <form action="#">
                                    <div class="searchform">
                                        <label for="searchtxt"> Search Pics From Others: </label>
                                        <input id="searchtxt" class="keywordfield">
                                            <input type="submit" value="Search">
                                                </div>
                                                </form>
                                                </div>
                                                <div class="clear"></div>
                                                <ul id="topmenu">
                                                    <li class="active">
                                                        <a href="index.html">Home</a>
                                                    </li>
                                                    <li>
                                                        <a href="upload.html">Start Uploading</a>
                                                    </li>
                                                    <li>
                                                        <a href="browse.html">Browse</a>
                                                    </li>
                                                    <li>
                                                        <a href="contact.html">Contact Us</a>
                                                    </li>
                                                </ul>
                                                </div>
                                                </div>
                                                <div id="wrap">
                                                    <div id="header">
                                                        <h2 class="introtext">
                                                            Order Framed Pictures With One Click! with
                                                            <span class="highlight2">PicUp</span>
                                                        </h2>
                                                    </div>
                                                    <div id="contents">
                                                        <div class="clear"></div>
                                                        <div id="homecontents" style="width: 679px">
                                                            <h2>
                                                                [Member Name]
                                                            </h2>
                                                            <p>
                                                                <table id="memberInfo">
                                                                    <tr>
                                                                        <td id="tag">MEMBER SINCE: </td>
                                                                        <td>25 December 1945</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td id="tag">E-MAIL: </td>
                                                                        <td>somethinglikethis@blablamail.com</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td id="tag">UPLOADED FILES: </td>
                                                                        <td>666</td>
                                                                    </tr>
                                                                </table>
                                                                <a href="register.html">Modify Account Details</a>
                                                                <img src="images/notebookB.jpg" />
                                                            </p>
                                                            <p>
                                                                <table id="upSummary">
                                                                    <caption> Your Upload Summary </caption>
                                                                    <tr id="tag">
                                                                        <th>Uploaded on</th>
                                                                        <th>Filename</th>
                                                                        <th>Size</th>
                                                                        <th>Download</th>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Date01</td>
                                                                        <td>Filename01</td>
                                                                        <td>Size01</td>
                                                                        <td align="center"><a href="">Download</a></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Date02</td>
                                                                        <td>Filename02</td>
                                                                        <td>Size02</td>
                                                                        <td align="center"><a href="">Download</a></td>
                                                                    </tr>
                                                                </table>
                                                                <a href="history.html">See all pictures uploaded</a>
                                                            </p>

                                                        </div>
                                                        <div id="highlights">
                                                            <ul>
                                                                <li>
                                                                    <h3>
                                                                        <a href="account.html">Your Account</a>
                                                                    </h3>
                                                                    Your account details
                                                                </li>
                                                                <li>
                                                                    <h3>
                                                                        <a href="help.html">Help</a>
                                                                    </h3>
                                                                    Lost? Click here!
                                                                </li>
                                                                <li>
                                                                    <h3>
                                                                        <a href="TandC.html">TermsConditions</a>
                                                                    </h3>
                                                                    Please Read Carefully
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </div>
                                                </div>
                                                <div id="footer">
                                                    <div id="footercontent">
                                                        <div id="previews"> Recently Uploaded <br /><br />
                                                            <div class="item">
                                                                <a href="#">
                                                                    <img alt="Photo 1" src="">
                                                                </a>
                                                                <span class="caption">Image Caption</span>
                                                            </div>
                                                            <div class="item">
                                                                <a href="#">
                                                                    <img alt="Photo 1" src="">
                                                                </a>
                                                                <span class="caption">Image Caption</span>
                                                            </div>
                                                            <div class="item">
                                                                <a href="#">
                                                                    <img alt="Photo 1" src="">
                                                                </a>
                                                                <span class="caption">Image Caption</span>
                                                            </div>
                                                            <div class="item">
                                                                <a href="#">
                                                                    <img alt="Photo 1" src="">
                                                                </a>
                                                                <span class="caption">Image Caption</span>
                                                            </div>
                                                            <div class="item">
                                                                <a href="#">
                                                                    <img alt="Photo 1" src="">
                                                                </a>
                                                                <span class="caption">Image Caption</span>
                                                            </div>
                                                            <div class="item">
                                                                <a href="#">
                                                                    <img alt="Photo 1" src="">
                                                                </a>
                                                                <span class="caption">Image Caption</span>
                                                            </div>
                                                            <div class="item">
                                                                <a href="#">
                                                                    <img alt="Photo 1" src="">
                                                                </a>
                                                                <span class="caption">Image Caption</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="credit">
                                                    Network Applications - Coursework 2011 / 2012 @ Heriot-Watt University</div>
                                                </body>
                                                </html>