<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>PicUp for your favourite pictures</title>
<link type="text/css" rel="stylesheet" href="style.css">
</head>
<body style="-moz-user-select: text;">
<div id="topbar">
<div id="TopSection">
<h1 id="sitename">
<a href="index.html" class="auto-style1">PicUp</a>
<span>
<a href="index.html" class="auto-style1"> your Frame</a>
</span>
</h1>
<div id="topbarnav">
<span class="topnavitems">
<a href="register.html">Register</a>
|
<a href="login.html">Login </a>
</span>
<form action="#">
<div class="searchform">
<label for="searchtxt"> Search Pics From Others: </label>
<input id="searchtxt" class="keywordfield">
<input type="submit" value="Search">
</div>
</form>
</div>
<div class="clear"></div>
<ul id="topmenu">
<li class="active">
<a href="index.html">Home</a>
</li>
<li>
<a href="upload.html">Start Uploading</a>
</li>
<li>
<a href="browse.html">Browse</a>
</li>
<li>
<a href="contact.html">Contact Us</a>
</li>
</ul>
</div>
</div>
<div id="wrap">
<div id="header">
<h2 class="introtext">
Order Framed Pictures With One Click! with
<span class="highlight2">PicUp</span>
</h2>
</div>
<div id="contents">
<div class="clear"></div>
<div id="homecontents" style="width: 679px">
<h2>
Upload Your Pictures !!!
</h2>
<form id="picSelection" action="" enctype="multipart/form-data" method="post">
<p>
Please specify a file, or a set of files:<br>
<input type="file" name="datafile" size="40">
</p>
<div>
<input type="submit" value="Upload!">
</div>
</form>
<img src="images/notebookB.jpg" /><br />
Select your Frame :&nbsp;<select name="frames">
<option>Frame01</option>
<option>Frame02</option>
</select>
<div id="auto-style2">
<a href="">Try this frame (refresh page)</a>
</div>
<form id="displayPics">
</form>
<form id="picInfo">
FileName : <input type="text" name="filename" />
Tag : <input type="text" name="tag" />
Tag : <input type="text" name="tag2" />
</form> 
<img src="images/notebookB.jpg" />
<input type="checkbox" name="private" value="true" />Keep this Picture Private
<a id="save" href=""> SAVE THIS PICTURE </a>
</div>
<div id="highlights">
<ul>
<li>
<h3>
<a href="account.html">Your Account</a>
</h3>
Your account details
</li>
<li>
<h3>
<a href="help.html">Help</a>
</h3>
Lost? Click here!
</li>
<li>
<h3>
<a href="TandC.html">TermsConditions</a>
</h3>
Please Read Carefully
</li>
</ul>
</div>
<div class="clear"></div>
</div>
</div>
<div id="footer">
<div id="footercontent">
<div id="previews"> Recently Uploaded <br /><br />
<div class="item">
<a href="#">
<img alt="Photo 1" src="">
</a>
<span class="caption">Image Caption</span>
</div>
<div class="item">
<a href="#">
<img alt="Photo 1" src="">
</a>
<span class="caption">Image Caption</span>
</div>
<div class="item">
<a href="#">
<img alt="Photo 1" src="">
</a>
<span class="caption">Image Caption</span>
</div>
<div class="item">
<a href="#">
<img alt="Photo 1" src="">
</a>
<span class="caption">Image Caption</span>
</div>
<div class="item">
<a href="#">
<img alt="Photo 1" src="">
</a>
<span class="caption">Image Caption</span>
</div>
<div class="item">
<a href="#">
<img alt="Photo 1" src="">
</a>
<span class="caption">Image Caption</span>
</div>
<div class="item">
<a href="#">
<img alt="Photo 1" src="">
</a>
<span class="caption">Image Caption</span>
</div>
</div>
</div>
</div>
<div id="credit">
	Network Applications - Coursework 2011 / 2012 @ Heriot-Watt University</div>
</body>
</html>